/* The HTML flex, card idea is based on password generator example and customized accordingly */

*,
*::before,
*::after {
      box-sizing: border-box;
}

html,
body,
.wrapper {
      height: 100%;
      margin: 0;
      padding: 0;
}

body {
      font-family: sans-serif;
}

header {
      text-align: center;
      padding: 20px;
      padding-top: 0px;
      color: hsl(206, 17%, 28%);
}

.headerBanner {
      background-color: #1b4332;
      display: flex;
      flex-direction: row;
      padding: 10px;
      flex-wrap: wrap;
      height: 80px;
      color: #fff;
      justify-content: space-between;
      align-items: center;
      max-width: 900px;
      margin: 0 auto;
      box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.wrapper {
      padding-top: 60px;
      padding-left: 20px;
      padding-right: 20px;
}

.card {
      background-color: #95d5b2;
      border-radius: 5px;
      border-width: 1px;
      box-shadow: rgba(0, 0, 0, 0.65) 0px 2px 2px 0px;
      color: #1b4332;
      font-size: 15px;
      margin: 0 auto;
      max-width: 900px;
      height: 550px;
      padding: 30px 40px;
}

.card-body h1 {
      font-size: 38px;
      text-align: center;
}

.card-body p {
      font-size: 20px;
      text-align: center;
}

.card-body h4 {
      font-size: 18px;
      text-align: center;
}

.card-body::after {
      content: " ";
      display: block;
      width: 100%;
      height: 2px;
}

.card-footer {
      text-align: center;
}

.card-footer::before {
      display: block;
      width: 100%;
      background: #e7e9eb;
      height: 2px;
}

.card-footer::after {
      display: block;
      clear: both;
}

/* Button class is based password generator button and customized accordingly*/
.btn {
      border: none;
      background-color: #1b4332;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
      color: hsl(0, 0%, 100%);
      display: inline-block;
      font-size: 22px;
      line-height: 22px;
      margin: 16px 16px 16px 20px;
      padding: 14px 34px;
      text-align: center;
      cursor: pointer;
}

.card-quiz {
      font-size: 20px;
      display: flex;
      flex-direction: column;
      padding-top: 5px;
      padding-right: 30px;
      padding-left: 10px;
}

.lbloption {
      margin-bottom: 5px;
}

.timerDiv {
      display: none;
      float: right;
      text-align: right;
      padding-right: 15px;
}

.timeRemain {
      float: right;
}

#quiz-1 {
      display: none;
}

#timeReset {
      display: none;
}

#question {
      font-size: 22px;
      margin-bottom: 15px;
}

.optionbtn {
      border: none;
      background-color: #52b788;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
      color: #1b4332;
      display: inline-block;
      font-size: 20px;
      line-height: 22px;
      margin: 12px 12px 12px 18px;
      padding: 10px 20px;
      text-align: center;
      cursor: pointer;
      width: 300px;
}

#showScoreDiv {
      display: none;
}

.optionbtn:hover {
      background-color: #1b4332;
      transition: 0.7s;
      color: #fff;
}

/* The below two blocks for screen resizing is used from password generator example */
@media (max-width: 690px) {
      .btn {
            font-size: 1rem;
            margin: 16px 0px 0px 0px;
            padding: 10px 15px;
      }
}

@media (max-width: 500px) {
      .btn {
            font-size: 0.8rem;
      }
}